footer {
  color: white !important;
}

footer ul li {
  font-weight: 200 !important;
}

footer p {
  font-weight: 100 !important;
  font-size: 12px !important;
  color: white !important;
}

footer .container .row .about li a {
  color: white;
}