/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
main section {
  padding: 20px 0 100px;
}

main section h2 {
  font-size: 30px;
}


main section div.container img {
  box-shadow: 0 0 10px rgb(83, 83, 83);
  width: 100%;
}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main section {
    padding: 70px 0 90px;
  }

  main section h2 {
    font-size: 34px;
  }

  main section div.container img {
    box-shadow: 0 0 10px rgb(83, 83, 83);
    width: 80%;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}