/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

.kelas div.card {
  color: black !important;
  /* padding: 15px !important; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: .1s;
  border-radius: 10px !important;
  margin-bottom: 0 !important;
}

.kelas div.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.kelas a {
  text-decoration: none !important;
}

.kelas div.card img {
  border-radius: 10px !important;
  margin-bottom: 10px;
}

.text h3 {
  font-size: 20px !important;
  line-height: 20px !important;
  margin-bottom: 5px !important;
  text-decoration: none !important;
}

.text p {
  font-size: 16px;
  text-decoration: none !important;
}

.materi div.card {

  margin-bottom: 0 !important;

  color: black !important;
  /* padding: 15px !important; */
  box-shadow: none !important;
  border: none;
  border-radius: 10px !important;

}


.badge {
  color: white !important;
}

small {
  color: rgb(145, 145, 145);
}


/* badge info class */
.tools {
  background-color: rgb(99, 99, 99);
}

.framework {
  background-color: #c71df1;
}

.library {
  background-color: #11e93f;
}

.html {
  background-color: #EB5830;
}

.javascript {
  background-color: #F1DA1C;
}

.css {
  background-color: #117CC0;
}

/* end badge info class */

/* materi card */
div.text a {
  text-decoration: none;
  color: black;
}

.materi-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  transition: .1s;
  margin-bottom: 15px;
}

.materi-card h3 {
  margin: 0 !important;
}

.materi-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* end materi card */




/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 770px) and (max-width: 800px) {}

@media (min-width: 800px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .center {
    display: block;
    align-items: flex-start;
  }

  .text h3 {
    font-size: 22px !important;
  }

  .text p {
    font-size: 18px;
  }

  .card-header a.nav-link {
    font-size: 20px;
  }



}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}