/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

.kelas div.card {
  color: black !important;
  /* padding: 15px !important; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: .1s;
  border-radius: 10px !important;
  margin-bottom: 0 !important;
}

.kelas div.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.kelas a {
  text-decoration: none !important;
}

.kelas div.card img {
  border-radius: 10px !important;
  margin-bottom: 10px;
}

.text h3 {
  font-size: 18px !important;
  line-height: 20px !important;
  margin-bottom: 5px !important;
  text-decoration: none !important;
}

.text p {
  font-size: 11px;
  text-decoration: none !important;

}

.badge {
  color: white !important;
}

small {
  color: rgb(145, 145, 145);
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 770px) and (max-width: 800px) {
  .list-kelas {
    margin: -130px 0 50px;
  }


}

@media (min-width: 800px) {
  .list-kelas {
    margin: -200px 0 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }


}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .list-kelas {
    margin: -200px 0 50px;
  }

  .center {
    display: block;
    align-items: flex-start;
  }

  .text h3 {
    font-size: 21px !important;
  }

  .text p {
    font-size: 16px;
  }

  .card-header a.nav-link {
    font-size: 20px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}