/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
.doc {
  padding: 30px;
  line-height: 28px;
}

.doc h2 {
  margin-top: 50px;
  font-size: 30px;
}

.doc h2:first-child {
  margin-top: 0;
}

.doc h3 {
  font-size: 22px;
}

.doc p {
  font-size: 16px;
}

.doc small {
  color: rgb(77, 77, 77);
  font-size: 14px;
  margin-bottom: 8px;
}

.doc ol,
.doc ul {
  padding-left: 20px;
}

.doc li {
  margin: 0;
}

.doc .syntax {
  overflow: auto !important;
  margin: 30px 0 !important;
  padding: 0 !important;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 770px) and (max-width: 800px) {}

@media (min-width: 800px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .doc h2 {
    font-size: 32px;
  }

  .doc h3 {
    font-size: 28px;
  }

  .doc ol,
  .doc ul {
    padding-left: 40px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .frame {
    overflow: hidden !important;
  }
}