/* @font-face {
  font-family: Quicksand;
  src: url(../font/Quicksand/Quicksand-VariableFont_wght.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: rgb(75, 75, 75);
  font-size: 26px;
}

.sub-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 13px;
  /* font-size: 12px; */
}


.bg-dark-blue {
  background-color: #002855;
}

.floating-animation {
  -webkit-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 5s ease-in-out infinite;
  animation: float 5s ease-in-out infinite;
}

/* The alert message box */

.alert {
  padding: 20px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 0 !important;
  border-radius: 0 !important;

  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;

  z-index: 999 !important;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}



/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

hr {
  border-top: 3px solid rgb(214, 214, 214) !important;
}

div.up {
  margin-top: -80px !important;
}

div.materi.up {
  margin-top: 0px !important;
}

.btn {
  color: white !important;
}

img[alt="title-image"] {
  width: 50%;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .title {
    font-size: 40px;
  }

  .sub-title {
    font-size: 18px;
  }

  div.up {
    margin-top: -140px !important;
  }

  div.materi.up {
    margin-top: -140px !important;
  }

  img[alt="title-image"] {
    width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  div.up {
    margin-top: -75px !important;
  }

  div.materi.up {
    margin-top: -75px !important;
  }



}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}